extends layout

block content
  h1= title
  form(id='booksForm', action="/resource/books", method="POST")
    div.form-group
      label(for='books_name') Books Name
      input#books_name(type='text', name='books_name')
    div.form-group
      label(for='books_author') Books Author
      input#books_author(type='text', name='books_author')
    div.form-group
      label(for='books_cost') Books Cost
      input#books_cost(type='number', name='books_cost')
    input(type="submit", value="Submit")
  script.
    document.forms['booksForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO: Add user feedback for form submission (e.g., disable the submit button, show loading spinner)
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      })
      .then((resp) => resp.json())
      .then((body) => {
        // TODO: Handle the server response (e.g., redirect, display success message)
        alert("Save succeeded");
      })
      .catch((error) => {
        // TODO: Handle the error (e.g., display error message, log to console)
        alert("Save failed: " + error);
      });
    });
